.MainPage {
    width: 100%;
    height: 100vh;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    height: 80px;
    background-color: #F9F9F9;
    border: 1px solid lightgrey;
}

.center {
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
}


.VideoView {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}